{% extends 'base.html' %}

{% block conteudo %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8"/>
        <link rel='stylesheet' href='/static/css/ana.css'/>
    </head>
    
    <body>    
        <h1>Ana Paula Carvalho Torno Pires</h1>

            <div>    
                <p>ou Ana Paula, tenho 37 anos, sou casada, tenho um filho, atualmente trabalho como Coordenadora na Área Comercial em uma fintech na Zemopay, o que me motiva na vida profissional são: desafios, trabalhar em equipe, estabilidade financeira e ter liberdade de participar ativamente na construção de processos e equipes das empresas que passei. Nas horas vagas adoro viajar, andar de bike, fazer um churrasco em família e um bom samba.</p>
            </div>
    
    </body>
</html>
{% endblock %}
    
    
    
    
    
  