{% extends 'base.html' %}

{% block conteudo %}

<!DOCYTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8"/>
        <link rel='stylesheet' href='/static/css/andre.css'/>
    </head>
    
    <body>   
            <h1>André Luccas Gorski Vasques</h1>

                <div>  
                    <p>Sou formado em Tecnologia da Informação e pós-graduado em formação de ensino à distancia, além disso sou musico e toco alguns instrumentos musicais..</p>
                </div> 
    </body>     
</html>    
{% endblock %}