{% extends 'base.html' %}

{% block conteudo %}

<!DOCYTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8"/>
        <link rel='stylesheet' href='/static/css/guilherme.css'/>
    </head>
    
    
    <body>
        <h1>Guilherme Bismark Manoel da Silva</h1>

            <div>
                <p>Guilherme Bismark, tenho 25 anos, tenho um filho de 2 anos, trabalho com TI mas na área de infraestrutura. Nas horas vagas eu tento estudar e jogo vídeo game.</p>
            </div>
    </body>
</html>    
{% endblock %}