{% extends 'base.html' %}

{% block conteudo %}

<!DOCYTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8"/>
        <link rel='stylesheet' href='/static/css/pedro.css'/>
    </head>
    
    
    <body>
        <h1>Pedro Henrique Nascimento Barbosa de Oliveira</h1>

            <div>
                <p>Sou Pedro Henrique, sou estagiário na empresa RS Projetos. Meu hobbie é ver séries e tocar bateria. Minhas paixões são o futebol e o samba.</p>
            </div>
    </body>
</html>    
{% endblock %}